{% extends 'base.html' %}

{% block title %}Condomínios{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-header text-center">
        <span>Condomínio: <strong> {{ object.nome }} </strong></span>
        <div class="col-8 m-auto pt-2 pb-2 text-center" >
          <a href="{% url 'condominio:unidade_list' object.id %}" class="btn btn-info">Unidades</a>
          {% comment %} <a href="{% url 'condominio:unidade_create' object.id %}" class="btn btn-info">Unidades</a> {% endcomment %}
          <a href="" class="btn btn-info">Despesas</a>
          <a href="" class="btn btn-info">Faturas</a>
        </div>
      </div>
      <div class="card-body">
        <div class="col-8 m-auto pt-2 pb-2 text-center" >
          Informações do condomínio
        </div>
        <div class="col-8 m-auto pt-4 pb-2 text-center">
        </div>
      </div>
    </div>
  </div>
{% endblock %}