{% extends 'base.html' %}

{% block title %}Condomínios{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        {% include 'condominio/condominio_gestao_menu.html' %}
        {% comment %} <a href="{% url 'condominio:gestao' condominio_id=condominio.id %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="{% url 'condominio:despesa_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="{% url 'condominio:fatura_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Faturas</a>
        <a href="{% url 'condominio:relatorio_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Relatórios</a> {% endcomment %}
      </div>
    </div>
    <div class="card-body">
      <table style="margin:auto">
        <tr>
          <td style="padding: 10px">
            <div class="card col-8 m-auto pt-2 pb-2 text-center box" id="div1">
              <h4>Condomínio</h4>
              <strong>Nome:</strong> {{ condominio.nome }} <br />
              <strong>Documento:</strong> {{ condominio.documento }} <br />
              <strong>CEP:</strong> {{ condominio.cep }} <br />
              <strong>Endereço:</strong> {{ condominio.endereco }}, {{ condominio.numero }} <br />
              <strong>Bairro:</strong> {{ condominio.bairro }} <br />
              <strong>Cidade:</strong> {{ condominio.cidade }} <br />
              <strong>Estado:</strong> {{ condominio.estado }} <br />
              <strong>País:</strong> {{ condominio.pais }} <br />
              <strong>Área comum:</strong> {{ condominio.area_comum }} m²<br />
              <strong>Área privativa:</strong> {{ condominio.area_privativa }} m²<br />
              <strong>Área total:</strong> {{ condominio.area_total }} m²<br />
              <strong>Dia de vencimento da fatura:</strong> {{ condominio.dia_vencimento_boleto }} <br />
              <strong>Multa:</strong> {{ condominio.multa|floatformat:'0' }}%<br />
              <strong>Juro ao mês:</strong> {{ condominio.juro|floatformat:'0' }}%<br />
            </div>
          </td>  
          <td>
            <div class="card col-8 m-auto pt-2 pb-2 text-center box" id="div2">
              <h4>Financeiro</h4>
              <strong>Faturas em aberto:</strong> {{ qtd_faturas_aberto }} <br />
              <strong>Faturas em atraso:</strong> {{ qtd_faturas_atraso }} <br />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}