{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Contatos{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body d-flex justify-content-center">
      <h4>Cadastro Telefone - {{ pessoa.nome }}</h4>
    </div>
      <div class="col-8 m-auto pt-4 pb-2 text-center">
        <form method="post" action="." >
          {% csrf_token %}
          <div class="form-group">
            <label>{{ form.descricao.label }}</label> 
            {% render_field form.descricao class="form-control" placeholder="" type="text" %}

            <label>{{ form.numero.label }}</label> 
            {% render_field form.numero class="mask-phone-ddd" placeholder="" type="text" %}

          </div>
          </br>
          <table align="center">
            {{ form.as_p}}
          </table>
          </br>
          <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:contato_list' pessoa.id %}'"><span class="fas fa-arrow-left"></span> Voltar</button>
          <button type="submit" class="btn btn-outline-success btn-sm"><span class="fas fa-save"></span> Salvar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}