{% extends 'base.html' %}

{% block title %}Contas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        {% include 'condominio/condominio_gestao_menu.html' %}
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <h5>Contas</h5>
        <a href="{% url 'condominio:conta_create' condominio_id=condominio.id %}" class="btn btn-outline-primary btn-sm"> <span class="fas fa-plus"></span> Nova Conta</a>
        <a href="{% url 'condominio:despesa_create' condominio_id=condominio.id %}" class="btn btn-outline-primary btn-sm"> <span class="fas fa-plus"></span> Nova Despesa</a>
      </div>
      <div class="col-4 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              <th scope="col"style="text-align: left">Descrição</th>
              <th scope="col">Status</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for c in conta %}
            <tr style="text-align: center">
              <td style="text-align: left">{{c.descricao}}</td>
              <td>{{c.status}}</td>
              <td>
                <a href=" {% url 'condominio:conta_update' c.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}