{% extends 'base.html' %}

{% block title %}Faturas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'condominio:gestao' condominio.id %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="{% url 'condominio:despesa_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="{% url 'condominio:fatura_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Faturas</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pb-2">
        <h5 class="text-center">Pagar Fatura</h5>
      </br>
      <table style="margin:auto">
        <tr><td>Fatura: <strong>{{ fatura.id }}</strong></td></tr>
        <tr><td>Unidade: <strong>{{ fatura.unidade.nome }}</strong></td></tr>
        <tr><td>Proprietário: <strong>{{ fatura.proprietario.nome }}</strong></td></tr>
        <tr><td>Locatário: <strong>{{ fatura.locatario.nome|default:'-' }}</strong></td></tr>
        <tr><td>Valor: R$ <strong>{{ fatura.valor|floatformat:'2' }}</strong></td></tr>
        <tr><td>Competência: <strong>{{ fatura.competencia_mes }}/{{ fatura.competencia_ano|stringformat:'i' }}</strong></td></tr>
        <tr><td>Vencimento: <strong>{{ fatura.data_vencimento|date:'d/m/Y' }}</strong></td></tr>
        <tr><td>Status: <strong>{{ fatura.status }}</strong></td></tr>
      </table>
      <form method="post" action="." >
        {% csrf_token %}
        
        </br>
        <div class="text-center">
          <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:fatura_list' condominio.id %}'"><span class="fas fa-arrow-left"></span> Voltar</button>
          <button type="submit" class="btn btn-outline-success btn-sm"><span class="fas fa-save"></span> Pagar</button>
        </div>
        </br>
      </form>
      </div>

      {% if erro_formulario %}
          <div>erro formulário</div>
      {% endif %}

    </div>
  </div>
{% endblock %}