{% extends 'base.html' %}

{% block title %}Faturas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'condominio:gestao' 3 %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' 3 %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="{% url 'condominio:despesa_list' 3 %}" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="{% url 'condominio:fatura_list' 3 %}" class="btn btn-outline-secondary btn-sm">Faturas</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pb-2">
        {% comment %} <p>Você está salvando uma unidade para o condomínio: [{{ condominio.id }}] {{ condominio.nome }}</p> {% endcomment %}
        <h5 class="text-center">Gerar Faturas</h5>
      </br>
          <form method="post" action="." >
            {% csrf_token %}
            <table align="center">
              <tr>
                <th><label for="id_data">Perído:</label></th>
                <td>
                  <input type="date" class="form-control date-time-mask" placeholder="00/00/0000" name="data_inicio" maxlength="10" required> 
                </td>
                <td>
                  <input type="date" class="form-control date-time-mask" placeholder="00/00/0000" name="data_fim" maxlength="10" required>
                </td>
              </tr>
            </table>
            <table align="center">
              <tr style="text-align: center" >
                <th><label for="id_data">Vencimento:</label></th>
                <td colspan="2">
                  <input type="date" class="form-control date-time-mask" placeholder="00/00/0000" name="data_vencimento" maxlength="10" required>
                </td>
              </tr>
            </table>
            </br>
            <div class="text-center">
              <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '/condominios/unidade_list/1/'"><span class="fas fa-arrow-left"></span> Voltar</button>
              <button type="submit" class="btn btn-outline-success btn-sm"><span class="fas fa-save"></span> Gerar</button>
            </br>
          </form>
      </div>

      {% comment %} Condomínio id = {{ctx.condominio.id}} | nome = {{ctx.condominio.nome}} </br></br>
      
      Id - Unidades - Fração </br>
      {% for unidade in ctx.unidade %}
      {{unidade.id}} - {{unidade.nome}} - {{unidade.fracao}} </br>
      {% endfor %}
      Total de {{ctx.unidade.qtd}} unidades </br></br>

      Despesas - valor - Rateio - data</br>
      {% for despesa in ctx.despesa %}
        {{despesa.conta}} - {{despesa.valor}} - {{despesa.rateio}} - {{despesa.data}} </br>
      {% endfor %}
      Total de {{ctx.despesa.qtd}} despesas </br></br> {% endcomment %}

      {% comment %} RATEIOS </br>
      {{ctx.rateios}} </br></br>
      {% for r in ctx.rateios %}
        {{r.0.nome}}
        {{r.1.pessoa}}
        {{r.1.vinculo}}
        {{r.2}}
      </br>
      {% endfor %} {% endcomment %}
      
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              <th scope="col">Unidade</th>
              <th scope="col">Pessoa</th>
              <th scope="col">Vinculo</th>
              <th scope="col">Valor</th>
              <th scope="col">Competência</th>
              <th scope="col">Vencimento</th>
            </tr>
          </thead>
          <tbody>
            {% for r in ctx.rateios %}
            <tr style="text-align: center">
              <td>{{r.0.nome}}</td>
              <td>{{r.1.pessoa}}</td>
              <td>{{r.1.vinculo}}</td>
              <td>{{r.2}}</td>
              <td>{{r.3}}</td>
              <td>{{r.4}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% comment %} R </br>
      {{ctx.r}} </br></br>
      {% for r in ctx.r.items %}
        {{r.1}} 
        {{r.2}} 
      </br>
      {% endfor %} {% endcomment %}
    </div>
  </div>
{% endblock %}