{% extends 'base.html' %}

{% block title %}Morador{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <h5><span>Condomínio: [1] Condomínio 1 </span></h5>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="" class="btn btn-outline-secondary btn-sm">Faturas</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <h5>Unidade: 101 </h5>
        <a href="" class="btn btn-outline-primary btn-sm"> <span class="fas fa-plus"></span> Novo Morador</a>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              {% comment %} <th scope="col">Id</th> {% endcomment %}
              <th scope="col">Nome</th>
              <th scope="col">Vínculo</th>
              <th scope="col">Data de início</th>
              <th scope="col">Data de término</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <td>Pessoa 1</td>
            <td>Proprietário</td>
            <td>02/01/2023</td>
            <td></td>
            <td>
              <a href=" " class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
              <a href=" " class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar"> <i class="fas fa-light fa-eye"></i></a>
            </td>
          </tbody>

          <tbody>
            <td>Pessoa 2</td>
            <td>Locatário</td>
            <td>01/03/2023</td>
            <td></td>
            <td>
              <a href=" " class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
              <a href=" " class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar"> <i class="fas fa-light fa-eye"></i></a>
            </td>

            {% for morador in morador %}
            <tr style="text-align: center">
              {% comment %} <th scope="row">{{unidade.id}}</th> {% endcomment %}
              <td>{{morador.nome}}</td>
              <td>{{morador.vinculo}}</td>
              <td>{{morador.data_inicio}}</td>
              <td>{{morador.data_fim}}</td>
              <td>
                <a href=" {% url 'condominio:unidade_update' unidade.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                {% comment %} <a href=" {% url 'condominio:detail' pk=unidade.id %}" class="btn btn-primary"> <i class="fas fa-light fa-eye"></i> Visualizar</a> {% endcomment %}
                <a href=" {% url 'condominio:unidade_confirm_delete' unidade.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover"> <i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}