{% extends 'base.html' %}

{% block title %}Pessoa{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <h4>Detalhes da Pessoa</h4>
    </div>
    <div class="col-4 m-auto pt-4 pb-2 ">
      <strong>Nome:</strong> {{ object.nome }} <br />
      <strong>Documento:</strong> {{ object.documento }} <br />
      <strong>Status:</strong> {{ object.status }} <br />
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center" >
      <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:pessoa_list' %}'"><span class="fas fa-arrow-left"></span> Voltar</button>
      <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:pessoa_update' pk=pessoa.id %}'"><span class="fas fa-edit"></span> Editar</button>
      <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:pessoa_update' pk=pessoa.id %}'"><span class="fas fa-address-card"></span> Contatos</button>
    </div>
  </div>
{% endblock %}