{% extends 'base.html' %}

{% block title %}Vínculo{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="text-center">
        <h6>Condomínio: <strong> {{unidade.condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'condominio:gestao' condominio_id=unidade.condominio.id %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' unidade.condominio.id %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="{% url 'condominio:despesa_list' unidade.condominio.id %}" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="{% url 'condominio:fatura_list' unidade.condominio.id %}" class="btn btn-outline-secondary btn-sm">Faturas</a>
        <a href="{% url 'condominio:relatorio_list' unidade.condominio.id %}" class="btn btn-outline-secondary btn-sm">Relatórios</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto text-center" >
        <div class="text-center">
          <h6>Pessoas vinculadas a unidade: <strong> {{unidade.nome}} </strong><h6>
            <a href="{% url 'condominio:pessoa_unidade_create' unidade_id=unidade.id %}" class="btn btn-outline-primary btn-sm"> <span class="fas fa-plus"></span> Novo Vínculo</a>
        </div>
      </div>
      <div class="col-8 m-auto text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              <th scope="col">Nome</th>
              <th scope="col">Vínculo</th>
              <th scope="col">Data de início</th>
              <th scope="col">Data de término</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for pu in pessoa_unidade %}
            <tr style="text-align: center">
              <td style="text-align: left">{{pu.pessoa.nome}}</td>
              <td>{{pu.vinculo}}</td>
              <td>{{pu.data_inicio|date:"d/m/Y"}}</td>
              <td>{{pu.data_fim|date:"d/m/Y"}}</td>
              <td>
                <a href=" {% url 'condominio:pessoa_unidade_update' pu.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}