{% extends 'base.html' %}

{% block title %}Contas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        {% include 'condominio/condominio_gestao_menu.html' %}
      </div>
    </div>
    <div class="card-body">
      <div class="col-6 m-auto pt-2 pb-2 text-center" >
        <h5>Vínculos de Unidades e Pessoas (Proprietário/Locatário)</h5>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              <th scope="col">Id</th>
              <th scope="col">Unidade</th>
              <th scope="col">Fração</th>
              <th scope="col" style="text-align: left">Proprietário</th>
              <th scope="col" style="text-align: left">Locatário</th>
              <th scope="col">Data Início</th>
              {% comment %} <th scope="col">Data Término</th> {% endcomment %}
            </tr>
          </thead>
          <tbody>
            {% for u in unidades %}
                <tr style="text-align: center">
                  <td>{{u.id}}</td>
                  <td>{{u.nome}}</td>
                  <td>{{u.fracao}}</td>
                  <td style="text-align: left">{{u.nome_proprietario}} - [{{u.documento}}]</td>
                  <td style="text-align: left">{{u.nome_locatario|default:'-'}} 
                    {% if u.nome_locatario %}
                      [{{u.documento}}]
                    {% endif %}
                  </td>
                  <td>{{u.data_inicio|date:'d/m/Y'}}</td>
                  {% comment %} <td>{{pu.data_fim|date:'d/m/Y'|default:'-'}}</td> {% endcomment %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <div class="text-center">
          <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:relatorio_list' condominio.id %}'"><span class="fas fa-arrow-left"></span> Voltar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}