{% extends 'base.html' %}

{% block title %}Contas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'condominio:gestao' condominio_id=condominio.id %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="{% url 'condominio:despesa_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="{% url 'condominio:fatura_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Faturas</a>
        <a href="{% url 'condominio:relatorio_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Relatórios</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-6 m-auto pt-2 pb-2 text-center" >
        <h5>Demonstrativo de Despesas</h5>
        Período: <strong> {{data_inicio|date:"d/m/Y"}} - {{data_fim|date:"d/m/Y"}} </strong>
      </div>
      <div class="col-4 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              <th scope="col" style="text-align: left">Data</th>
              <th scope="col" style="text-align: left">Conta</th>
              <th scope="col" style="text-align: right">Valor (R$)</th>
            </tr>
          </thead>
          <tbody>
            {% for d in despesas %}
            <tr style="text-align: center">
              <td style="text-align: left">{{d.data|date:"d/m/Y"}}</td>
              <td style="text-align: left">{{d.conta}}</td>
              <td style="text-align: right">{{d.valor}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div style="text-align: right; padding-right: 10px">
          <strong > Total no período: {{total_periodo}}</strong>
        </div>
        <div class="text-center">
          <button type="reset" class="btn btn-outline-info btn-sm" onclick="location.href = '{% url 'condominio:relatorio_despesa_filtro' condominio.id %}'"><span class="fas fa-arrow-left"></span> Voltar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}