{% extends 'base.html' %}

{% block title %}Faturas{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <div class="text-center">
        <h6>Condomínio: <strong> {{condominio.nome}} </strong><h6>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        {% include 'condominio/condominio_gestao_menu.html' %}
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pb-2 text-center">
        <h5>Relatórios</h5>
      </div>
      <div class="col-6 m-auto pt-2 pb-2 text-center">
        <table class="table">
          {% comment %} <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Relatório</th>
            </tr>
          </thead> {% endcomment %}
          <tbody>
            <tr onclick="location.href = '{% url 'condominio:relatorio_despesa' condominio.id%}';" style="cursor: pointer;">
                {% comment %} <td>01</td> {% endcomment %}
                <td> <a href="{% url 'condominio:relatorio_despesa' condominio.id%}" >  Demonstrativo de Despesas</a></td>
            </tr>
            <tr onclick="location.href = '{% url 'condominio:relatorio_pessoa_unidade' condominio.id%}';" style="cursor: pointer;">
              {% comment %} <td>02</td> {% endcomment %}
              <td> <a href="{% url 'condominio:relatorio_pessoa_unidade' condominio.id%}" > Vínculos de Unidades e Pessoas (Proprietário/Locatário)</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}