{% extends 'base.html' %}

{% block title %}Condomínios{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="card">
      <div class="card-header text-center">
        <span>Condomínio: <strong> {{ condominio.nome }} </strong></span>
        <div class="col-8 m-auto pt-2 pb-2 text-center" >
          <a href="{% url 'condominio:gestao' condominio_id=condominio.id %}" class="btn btn-secondary">Dashboard</a>
          <a href="{% url 'condominio:unidade_list' condominio.id %}" class="btn btn-secondary">Unidades</a>
          <a href="" class="btn btn-secondary">Despesas</a>
          <a href="" class="btn btn-secondary">Faturas</a>
        </div>
      </div>
      <div class="card-body">
        <div class="col-8 m-auto pt-2 pb-2 text-center" >
          <h4>Unidades</h4>
          <a href="{% url 'condominio:unidade_create' condominio_id=condominio.id %}" class="btn btn-info"> <span class="fas fa-plus"></span> Nova Unidade</a>
        </div>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Unidade</th>
                <th scope="col">Fração</th>
                <th scope="col" style="text-align: center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for unidade in unidade %}
              <tr>
                <th scope="row">{{unidade.id}}</th>
                <td>{{unidade.nome}}</td>
                <td>{{unidade.fracao}}</td>
                <td style="text-align: center">
                  <a href=" {% url 'condominio:unidade_update' unidade.id %}" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                  {% comment %} <a href=" {% url 'condominio:detail' pk=unidade.id %}" class="btn btn-primary"><i class="fas fa-light fa-eye"></i> Visualizar</a> {% endcomment %}
                  <a href=" {% url 'condominio:unidade_confirm_delete' unidade.id %}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover"><i class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}