{% extends 'base.html' %}

{% block title %}Condomínios{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <h5><span>Condomínio: {{ condominio.nome }} </span></h5>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'condominio:gestao' condominio_id=condominio.id %}" class="btn btn-outline-secondary btn-sm">Dashboard</a>
        <a href="{% url 'condominio:unidade_list' condominio.id %}" class="btn btn-outline-secondary btn-sm">Unidades</a>
        <a href="" class="btn btn-outline-secondary btn-sm">Despesas</a>
        <a href="" class="btn btn-outline-secondary btn-sm">Faturas</a>
      </div>
    </div>
    <div class="card-body">
      <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <h5>Unidades</h5>
        <a href="{% url 'condominio:unidade_create' condominio_id=condominio.id %}" class="btn btn-outline-primary btn-sm"> <span class="fas fa-plus"></span> Nova Unidade</a>
      </div>
      <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table">
          <thead class="thead-dark">
            <tr style="text-align: center">
              {% comment %} <th scope="col">Id</th> {% endcomment %}
              <th scope="col">Unidade</th>
              <th scope="col">Fração</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for unidade in unidade %}
            <tr style="text-align: center">
              {% comment %} <th scope="row">{{unidade.id}}</th> {% endcomment %}
              <td>{{unidade.nome}}</td>
              <td>{{unidade.fracao}}</td>
              <td>
                <a href=" {% url 'condominio:pessoa_unidade_list' unidade.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Vincular pessoa"><i class="fas fa-users-cog"></i></a>
                <a href=" {% url 'condominio:unidade_update' unidade.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                <a href=" {% url 'condominio:unidade_confirm_delete' unidade.id %}" class="btn btn-outline-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Remover"> <i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}