html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background: #f8f9fa;
}

span {
	margin: 0.1em;
}

.bg-light {
	background-color: #ffffff !important;
}

.navbar-brand {
	margin-left: 1rem;
}